<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CShard_3cs2_Lad_P2_Salary.Properties.Settings.dbSalaryConnectionString"
            connectionString="Data Source=DELL-INSPIRON-1\SQLEXPRESS;Initial Catalog=dbSalary;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>